/* Main page */

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

@media(max-width:575.98px) {
    body {
        font-size: 16px;
    }
}

h1 {
    text-align: center;
    font-size: 3em;
}

.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 30px;
}


/* Spacers */
.space-2 {
    width: 100px;
    height: 2px;
    margin: 25px auto 30px auto;
    background-color: #40c094;
}

hr {
    margin: 50px 0;
    border-top: 1px solid #bcb8b8;
}

/* Nav - Bar */

.navbar {
    width: 100%;
    max-height: 50px;
}
.navbar-default {
    background: rgba(255, 255, 255, 0.85);
    border: none;
    color: #777;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    position: fixed;
    max-height: 50px;
}
.navbar-nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float: none;
    font-size: 1em;
    font-weight: bold;
    max-height: 50px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

.navbar-collapse {
    background-color: white;
}

.navbar-header {
    background-color: white;
}



/* Main Home */
.home-page {
    height: 600px;
    width: 100%;
}

/* Main Header */
.main-header {
    height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    position: relative;
    overflow: hidden;
}

.main-header * {
    margin: 0;
}

.personal-info {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -239px;
    margin-top: -94.5px;
    z-index: 10;
    color: white;
    text-align: center;
}

.personal-info h1 {
    font-size: 7em;
}

.personal-info p {
    font-size: 2em;
}

@media (max-width: 575.98px) {
    .personal-info {
        margin-left: -106px;
    }
    .personal-info h1 {
        font-size: 3.5em;
    }
    .personal-info p {
        font-size: 1em;
        line-height: 3em;
    }
  }

/* KeyFrames for bubble */
@keyframes blue-up-down {
    0% {top: 40%;}
    30% {top: 60%}
    60% {top:50%}
    90% {top:20}
    100% {top: 40%}
}
  
/* Bubble Container */
.bubble-container {
    position: relative;
    height: 100%;
}

.bubble {
    opacity: .7;
    border-radius: 50px;
    position: absolute;
}

.teal {
    background: #7FFFD3;
    height: 300px;
    width: 300px;
    left: 20%;
    border-radius: 38px;
    top: 10%;
}

.red {
    background: #ff837e;
    height: 180px;
    width: 180px;
    left: 75%;
    top: 25%;
}

.green {
    background: #89d793;
    height: 320px;
    width: 320px;
    top: 50%;
    left: 70%;
    border-radius: 50px;
}

.blue {
    background: #76b9fb;
    height: 400px;
    width: 400px;
    top: 40%;
    left: 5%;
}

.gold {
    background: #beaa7e;
    height: 245px;
    width: 245px;
    top: 40%;
    left: 40%;
}   

.grey {
    background: #393e46;
    height: 280px;
    width: 280px;
    left: 60%;
    top: 20%;
}

@media (max-width: 575.98px) {
    .bubble {
        border-radius: 30px;
    }

    .teal {
        background: #7FFFD3;
        height: 150px;
        width: 150px;
        left: 20%;
        border-radius: 38px;
        top: 10%;
    }
    
    .red {
        background: #ff837e;
        height: 120px;
        width: 120px;
        left: 15%;
        top: 73%;
    }
    
    .green {
        background: #89d793;
        height: 160px;
        width: 160px;
        top: 50%;
        left: 70%;
        border-radius: 50px;
    }
    
    .blue {
        background: #76b9fb;
        height: 200px;
        width: 200px;
        top: 40%;
        left: 5%;
    }
    
    .gold {
        background: #beaa7e;
        height: 120px;
        width: 120px;
        top: 40%;
        left: 40%;
    }   
    
    .grey {
        background: #393e46;
        height: 140px;
        width: 140px;
        left: 60%;
        top: 20%;
    }
}


/* Projects  */
.project-pic {
    min-width: 100px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
}

.page-projects {
    background-color: rgb(247, 247, 247);
}

.tech-stack {
    font-size: 1.4em;
    font-weight: bold;
}

.tech-list {
     font-size: 1.25em;
}

/* Portfilo */
article {
    color: white;
}

article div {
    max-width: 800px;
}

article .button-container {
    padding: 10px 0 3em 0;
}

article .image-container,
article h2,
article h4 {
    padding-bottom: 1rem;
}

article p {
    padding-bottom: 1.5rem;
}

article a:hover {
    text-decoration: none;
}

article img {
    width: 100%;
    height: auto;
}

article .row {
    text-align: center;
}

.button {
    color: white !important;
    padding: 1rem 2rem;
    border-radius: 7px;
}

article .image-container {
    padding-top: 3.5em;
    max-width: 900px;
}

.image-container.hover-off {
    pointer-events: none;
}

article .image-container:hover {
    height: 800px;
}

article .project-description {
    padding-top: 4rem;
}

.desktop-image {
    border-radius: 17px;
    width: 90%;
    margin: 0 auto;
}

article .image-container:hover .desktop-image {
    position: absolute;
    width: 80%;
    transform: translate(-48%, 2%);
}

.tablet-image {
    width: 40%;
    height: auto;
    position: absolute;
    left: 0%;
    top: 13.5%;
    transition: transform 1.5s ease;
}

article .image-container:hover .tablet-image {
    transform: translate(48%, 77%);
}

.mobile-image {
    height: auto;
    width: 25%;
    position: absolute;
    left: 73%;
    top: 26.15%;
    transition: transform 1.5s ease;
}

article .image-container:hover .mobile-image {
    transform: translate(-43%, 34%);
    left: 80%;
    top: 33%;
}

.mobile-image.right {
    left: 74%;
    top: 26.7%;
}

article .image-container:hover .mobile-image.right {
    transform: translate(-76%, 30%);
}

/* Nucleus */
#nucleus {
    background: #ff837e ;
}

#nucleus a {
    background: #c32400;
}

#nucleus a:hover {
    background: #c95f47;
}

#nucleus .award {
    background: none;
    color: #c32400;
}

#nucleus .award:hover {
    background: none;
    color: #c95f47;
}

#nucleus .tablet-image {
    width: 58%;
    left: 0%;
    top: 29.2%;
}

#nucleus .image-container:hover .tablet-image {
    left: -16%;
    top: 23.2%;
}

@media(max-width:575.98px) {
    #nucleus .tablet-image {
        top: 25.2%;
    }

    #nucleus .mobile-image {
        top: 23.15%;
    }
}

/* Riptide */
#riptide {
    background: #76b9fb;
}

#riptide a {
    background: #0685c0;
}

#riptide a:hover {
    background: #4891b3;
}


#riptide .image-container:hover {
    height: 760px;
}

#riptide .project-description.pt-7 {
    padding-top: 7rem;
}

#riptide .tablet-image {
    width: 58%;
    left: 0%;
    top: 31.2%;
}

#riptide .mobile-image {
    top: 27.95%;
}


#riptide .image-container:hover .tablet-image {
    left: -16%;
    top: 25.65%;
}

#riptide .image-container:hover .mobile-image {
    top: 36.25%;
}

@media(max-width:500px) {
    #riptide .tablet-image {
        top: 25.7%;
    }

    #riptide .mobile-image {
        top: 23.15%;
    }
}


/* Smart Attend */
#smart-attend {
    background: #89d793;
}

#smart-attend a {
    background: #76b67e;
}

#smart-attend a:hover {
    background: #50cd60;
}

#smart-attend .image-container:hover {
    height: 930px;
}


@media(max-width:575.98px) {
    #smart-attend .mobile-image {
        top: 22.25%;
    }
}


/* Freeport */
#freeport {
    background: #beaa7e;
}

#freeport a {
    background: #a69268;
}

#freeport a:hover {
    background: #af935a;
}

#freeport .image-container:hover {
    height: 930px;
}

#freeport .image-container:hover .tablet-image {
    left: -11%;
}

#freeport .mobile-image {
    left: 58%;
    top: 45%;
    width: 45%;
}

#freeport .image-container:hover .mobile-image {
    left: 72%;
    top: 35.5%;
}

@media(max-width:767.98px) {
    #freeport .image-container .mobile-image {
        left: 55%;
    }
}

@media(max-width:575.98px) {
    #freeport .mobile-image {
        top: 39%;
    }
}

@media(max-width:500px) {
    #freeport .mobile-image {
        top: 32.5%;
    }
}

/* Elite */
#elite {
    background: #393e46;
}

#elite a {
    background: #24272c;
}

#elite a:hover {
    background: #474c54;
}

#elite .image-container:hover {
    height: 930px;
}

#elite .mobile-image.right {
    top: 26.7%;
}


#elite .image-container:hover .mobile-image.right {
    top: 33.05%;
}

@media(max-width:575.98px) {
    #elite .tablet-image {
        top: 14%;
    }

    #elite .mobile-image.right {
        top: 23.45%;
    }
}

@media(max-width:500px) {
    #elite .mobile-image.right {
        top: 21.5%;
    }
}

/* Profile */
.profile-pic {
    border-radius: 50%;
    width: 100%;
    padding: 4px;
    margin:10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.profile {
    background-color: #B1FFE3;
    min-height: 400px;
    display: grid;
}

@media(max-width:767.98px){
    .profile {
        padding: 4rem 0;
    }
}

.profile h2 {
    padding-bottom: 1rem;
}

.profile .container {
  display: grid;
}

.btn {
  font-size: 30px;
  margin-top: 20px;
}
.fa-file-text,
.fa-linkedin-square,
.fa-github {
  color: white;
}

/* Design Quotes */
.design-quote {
  background-color: #f7f7f7;
}

.sub-heading {
  font-size: 20px;
  text-align: center;
}

.quote {
  padding: 0 20px;
  font-size: 16px;
  margin: 0 0 10px;
  text-align: center;
  font-size: 1.5em;
}

/* Footer */
footer {
    background: #f0f0f0;
    position: relative;
}

.help {
    position: absolute;
    width: 240px;
    padding: 1rem 2rem;
    left: 38%;
    top: 66%;
    color: white;
    background: #c151c1;
    border-radius: 7px;
    font-size: 12px;
    display: none;
}

.hover-button {
    top: 10%;
    left: 80%;
    border-radius: 7px;
    color: black;
    cursor: pointer;
}

@media(max-width:800px) {
    .hover-button {
        pointer-events: none;
    }
}


.help.show {
    display: block;
}

.help.hide {
    display: none !important;
}

/* Contact */
.contact {
    background-color: rgb(247, 247, 247);
}

/* Turning off hover effect for tablet and under */
@media(max-width:900px) {
    .image-container {
        pointer-events: none;
    }
}