body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
}

.space {
  width: 45px;
  height: 2px;
  margin: 25px auto 15px auto;
  background-color: aquamarine;
  padding: auto;
}

.space-2 {
  width: 100px;
  height: 2px;
  margin: 25px auto 30px auto;
  background-color:#7FFFD3;
  padding: auto;

}

hr {
  margin: 50px 0;
  border-top: 1px solid #bcb8b8;
}

.container {
  margin: 0 auto;
  padding: 30px;
}


