.project-pic {
  min-width: 100px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

.page-projects {
  background-color: rgb(247, 247, 247);
}

.tech-stack {
  font-size: 15px;
}

