.design-quotes {
  background-color: rgb(247, 247, 247);
}

.sub-heading {
  font-size: 20px;
  text-align: center;
}

.quote {
  padding: 0 20px;
  font-size: 16px;
  margin: 0 0 10px;
  text-align: center;
}
