// @import "quotes.scss";
// @import "skills.scss";
// @import "main.scss";
// @import "projects.scss";
// @import "nav.scss";
// @import "vegas.scss";
// @import "home.scss";


.home-page {
  background-color: aquamarine;
  height: 600px;
  weight: 100%;
}

.design-quotes {
  background-color: rgb(247, 247, 247);
}

.sub-heading {
  font-size: 20px;
  text-align: center;
}

.quote {
  padding: 0 20px;
  font-size: 16px;
  margin: 0 0 10px;
  text-align: center;
}

.project-pic {
  min-width: 100px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

.page-projects {
  background-color: rgb(247, 247, 247);
}

.tech-stack {
  font-size: 15px;
}

.navbar {
  width: 100%;
  max-height: 96px;
}
.navbar-default {
  background: rgba(255, 255, 255, 0.85);
  border: none;
  color: #777;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: fixed;
  max-height: 96px;
}
.navbar-nav {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: inline-block;
  float: none;
  font-size: 1em;
  font-weight: bold;
  max-height: 96px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  background: none;
}


body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
}

.space {
  width: 45px;
  height: 2px;
  margin: 25px auto 15px auto;
  background-color: aquamarine;
  padding: auto;
}

.space-2 {
  width: 100px;
  height: 2px;
  margin: 25px auto 30px auto;
  background-color: #7FFFD3;
  padding: auto;

}

hr {
  margin: 50px 0;
  border-top: 1px solid #bcb8b8;
}

.container {
  margin: 0 auto;
  padding: 30px;
}


.home-page {
  background-color: aquamarine;
  height: 600px;
  weight: 100%;
}